<div id="show" class="container">
  <div class="row text-center">
    <h1>
      <%= @user["name"] ? @user["name"] : @user["login"] %>'s Profile
    </h1>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h3 class="text-center">Profile</h3>
      <%= image_tag "#{@user["avatar_url"]}" %>
      <ul class="list-unstyled">
        <li>Name: <%= @user["name"] %></li>
        <li>Company: <%= @user["company"] || "none specified" %></li>
        <li>Email: <a href="mailto:<%= @user["email"] %>"> <%= @user["email"] || "none specified" %> </a></li>
        <li>Website: <a href="<%= @user["blog"] %>"> <%= @user["blog"].chomp('/').reverse.chomp('//:ptth').chomp('//:sptth').chomp('.www').reverse if @user["blog"] %> </a></li>
        <li>Joined: <%= Date.parse(@user["created_at"]).strftime('%B %Y') %></li>
        <li>Public Repos: <%= @user["public_repos"] %></li>
        <li>Followers: <%= @user["followers"] %></li>
        <li>Following: <%= @user["following"] %></li>
        <li><strong>Collected Stars:</strong> <%= @total_stars %></li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3 class="text-center">Languages</h3>
      <table>
        <thead>
          <tr>
            <th class='left-align'>Language</th>
            <!-- <th class='right-align'>Characters</th> -->
            <th class='right-align'>Lines (approx)</th>
            <th class='right-align'>Percentage</th>
          </tr>
        </thead>
        <tbody>
        <% @sorted_languages.each do |lang_trio| %>
          <tr>
            <td class='left-align'><%= lang_trio[0] %></td>
            <!-- <td class='right-align'><%# "#{lang_trio[1]} chars" %></td> -->
            <td class='right-align'><%= "~#{number_with_delimiter(lang_trio[2])} lines" %></td>
            <td class='right-align'><%= "#{lang_trio[3]}%" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3 class="text-center">Distribution</h3>
      <div id="donut"></div>
    </div>
  </div>
  <div class="row text-center">
      <%= link_to "Back", root_path, class: "btn btn-default back-button" %>
  </div>
  <div class="row text-center">
  <iframe class="text-center" style="margin-top: 20px" src="https://ghbtns.com/github-btn.html?user=alex-felix&repo=github-languages&type=star&count=true" frameborder="0" scrolling="0" width="72px" height="20px"></iframe>
  </div>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      new Morris.Donut({
        element: 'donut',
        data: [
          <% @sorted_languages.each do |lang_trio| %>
            { label: '<%= lang_trio[0] %>', value: <%= lang_trio[3] %> },
          <% end %>
        ],
        formatter: function (y, data) { return y+'%' },
        colors: ["#5A869F", "#3E95B1", "#5D9475", "#ACA940", "#BAB037", "#B79649", "#BA8058", "#BF6775", "#B65171", "#8E5C79", "#776B81"]
      });
    });
  <% end %>
<% end %>
