<div class="top-line"></div>
<div id="show" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
      <h1>
        <%= @user["name"] ? @user["name"] : @user["login"] %>'s Languages
      </h1>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <table>
            <thead>
              <tr>
                <th>Language</th>
                <!-- <th>Storage</th> -->
                <th>Lines</th>
                <th>Percentage</th>
              </tr>
            </thead>
            <tbody>
            <% @sorted_languages.each do |lang_trio| %>
              <tr>
                <td><%= lang_trio[0] %></td>
                <!-- <td><%# "#{lang_trio[1]} B" %></td> -->
                <td><%= "~#{lang_trio[1]/25} lines" %></td>
                <td><%= "#{lang_trio[2].round(2)}%" %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-xs-12 col-md-6">
          <div id="donut"></div>
        </div>
      </div>
      <%= link_to "Back", root_path, class: "btn btn-default" %>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      new Morris.Donut({
        element: 'donut',
        data: [
          <% @sorted_languages.each do |lang_trio| %>
            { label: '<%= lang_trio[0] %>', value: <%= (lang_trio[2]*10).ceil/10.0 %> },
          <% end %>
        ],
        formatter: function (y, data) { return y+'%' },
        colors: ["#5A869F", "#3E95B1", "#5D9475", "#ACA940", "#BAB037", "#B79649", "#BA8058", "#BF6775", "#B65171", "#8E5C79", "#776B81"]
      });
    });
  <% end %>
<% end %>
